
* {
    margin: 0;
    padding: 0;

}

main {
    padding: 10%;
    padding-left: 35%;
    background-color: rgb(207, 137, 110);
    font-family: 'Parisienne', cursive;
}

#form {
    padding: 30px;
    width: 280px;
    background-color: #ffb18e;
    border-radius: 25px;
    box-shadow: 20px 20px 35px #93614e,
    -20px -20px 35px #ffb18e;

}

label {
    margin-top: 10px;
    display: block;
}

a {

    text-decoration: none;
}

input {
    background-color: #ffb18e;
}